@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family:'HK';
    src: url('../fontes/Trajan\ Pro\ Regular.ttf') format(truetype);
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}

body {
    background-color: rgb(0, 0, 0);
}

header {
    height: 100vh;
    background: url(../imagens/bannerHK.png) no-repeat center center;
    background-size: cover;
    color: white;
}

nav {
    display: flex;
    justify-content: end;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
    width: 250px;
    margin-right: 40px;
}

li > a {
    font-size: 1em;
    text-decoration: none;
    color: white;
    font-family: HK, sans-serif;
}

a.botao {
    text-decoration: none;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 5px;
    transition: .3s;
}

a.botao:hover {
    box-shadow: 0px 0px 10px white;
}

aside {
    margin-top: 30px;
    margin-left: 50px;
    width: 40vw;
}

img#Logo {
    display: block;
    max-width: 100%;
}

aside > hr {
    margin: 15px;
}

p {
    color: white;
    font-size: .8em;
    width: 400px;
    margin: 30px 0px 60px 10px;
    text-align: justify;
}

.gradiente {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

article {
    color: white;
    height: 70vh;
    background-color: black;
}

article#sobre {
    height: 70vh;
    background-color: rgb(0, 0, 0);
    margin-top: 100px;
    
}
section {
    width: auto;
    height: 70vh;
    background-color: rgb(0, 0, 0);
}

section.conteudodir {
    margin-right: 80px;
    position: absolute;
    right: 0px;
    background-color: rgb(0, 0, 0);
    
}

section.conteudoesq {
    position: absolute;
    left: 50px;
    width: auto;
}

h1 {
    text-shadow: 0px 0px 40px white;
    display: block;
    font-family: HK, sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 3em;
}

section.img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 55vw;
}

section.img > img {
    height: 350px;
    margin-left: 40px;
    box-shadow: inset 0px 0px 10px white;
}

.imgdir {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 40px;
}

.imgdir > img {
    width: 700px;
}

article#mapa {
    height:100vh;
    padding-bottom: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

img.hallownest {
    width: 100%;
    height: 70%;
}

h2 {
    color: rgb(48, 48, 48);
    font-size: 1em;
}

.galeria {
    position: relative;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.cartao {
    flex: 1;
    overflow: hidden;
    width: 200px;
    height: 300px;
    transition: flex .4s ease-in-out;
    background-color: rgb(0, 0, 0);
}

.cartao:hover {
    flex: 3;
    background-color: rgb(0, 0, 0);
}

.centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

article#silk {
    height: 90vh;
}

footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #0f0f1b;
    color: white;
}

.link {
    color: white;
}